{% extends 'base.html' %}

{% block content %}
<br>
<div class="row ">
	<div class="col-lg-6">
		<h1>Cart</h1>
	</div>	
	<div  class="col-lg-6">
            {% if order.orderitem_set.all %}
			{% if user.is_authenticated  %}
			
			<form method = "POST">
			{% csrf_token %}
			<button type="submit" class="btn btn-success">Checkout</button>
			</form>
            {% else %}
			<a href="{% url 'account_login' %}" class="btn btn-success">Login</a>
            {%endif%}
			{% endif %}
			{% if msg %}
			<p>{{msg}}</p>
			{% endif %}
            
		
		
	</div>	
</div>
{% if order.orderitem_set.all %}
<h2> Total Price:{{order.get_cart_total}}</h2>
<hr>

{% for orderitem in order.orderitem_set.all %}

<div class="row">
	<div class="col-lg-6">
		<img style="border:1px solid #888; width:200px ;height:200px;" src="{{orderitem.content.image.url}}">
	</div>

	<div style="padding:50px" class="col-lg-6">

		<h3>{{orderitem.content.title}}</h3>
		<hr>
		<h4>Item Price: {{orderitem.content.price}}</h4>
		 
		
		<a href="#" class="btn btn-danger">DELET</a>
		<a href="#" class="btn btn-primary">Edit</a>
		
		

	</div>
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock content %}
